name: CI

on:
  push:
    paths-ignore:
      - '*.md'
      - '**/*.md'
      - 'docs/**.*'
    branches:
      - master
  pull_request:
    paths-ignore:
      - '*.md'
      - '**/*.md'
      - 'docs/**.*'
    types:
      - opened
      - edited
      - synchronize

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10.0-beta.1']
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install package
        run: |
          python setup.py install

      - name: Test & Coverage
        run: pytest -m 'unit or integration' --cov=ldfparser --cov-report xml

      - name: Run Examples
        run: |
          python ./examples/communication.py
          python ./examples/ldf2json.py
          python ./examples/read_comments.py

      - name: Package
        run: |
          python setup.py sdist bdist_wheel

      - name: Archive package
        uses: actions/upload-artifact@v2
        with:
          name: package-${{ matrix.python-version }}
          path: dist/

      - name: Upload coverage results
        uses: codecov/codecov-action@v1
        with:
          directory: ./
          flags: unittests,${{ matrix.python-version }}
          name: Python-${{ matrix.python-version }}
          fail_ci_if_error: true

  snapshot-test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    container:
      image: "python"
    steps:
      - name: Checkout (current)
        uses: actions/checkout@v2
        with:
          path: current

      - name: Checkout (base)
        uses: actions/checkout@v2
        with:
          path: base
          ref: ${{ github.event.pull_request.base.ref }}

      - name: Setup
        run: |
          python -m pip install --upgrade pip
          pip install pytest

      - name: Install base
        working-directory: base
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Generate snapshot data
        working-directory: base
        run: |
          python tests/snapshot_data.py
      
      - name: Move snapshot data
        run: |
          mkdir current/tests/snapshot/
          mv base/tests/snapshot/* current/tests/snapshot/

      - name: Install current
        working-directory: current
        run: |
          pip install -r requirements.txt
          python setup.py install

      - name: Snapshot test
        working-directory: current
        run: pytest -m 'snapshot'

  performance-test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    container:
      image: "python"
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install package
        run: |
          python setup.py install

      - name: Test & Coverage
        run: pytest -m 'performance'