name: CI

on:
  create: {}
  push:
    paths-ignore:
      - '*.md'
      - '**/*.md'
    branches:
      - master
  pull_request:
    paths-ignore:
      - '*.md'
      - '**/*.md'
    types:
      - opened
      - edited
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install requirements
        run: | 
          python -m pip install --upgrade pip
          pip install pytest setuptools wheel twine
          pip install -r requirements.txt

      - name: Install package
        run: |
          python setup.py install

      - name: Test
        run: pytest

      - name: Run examples
        run: |
          python examples/create_frame.py
          python examples/read_frame.py
          python examples/signal_encoding.py

      - name: Package
        run: |
          python setup.py sdist bdist_wheel

      - name: Publish
        if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          twine upload dist/*